extends ./layouts/auth

block content
    form.form-signin(_lpchecked='1', method='POST', action='/v1/web/login')
        img.mb-4(src='/images/2fa_logo.png', alt='2FA', width='72', height='72')
        h1.h3.mb-3.font-weight-normal Вход
        label.sr-only(for='inputPhoneNumber') Номер телефона
        input#inputPhoneNumber.form-control.mb-3(type='text',
        pattern='^(\\+7|7|8)?[\\s\\-]?\\(?[7][0-9]{2}\\)?[\\s\\-]?[0-9]{3}[\\s\\-]?[0-9]{2}[\\s\\-]?[0-9]{2}$',
        title='+7 777 222 33 10'
        placeholder='+7 777 222 33 10',
        required='',
        maxlength=16
        autofocus='',
        autocomplete='off')
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Войти')
        p.mt-2.mb-2.text-muted или
        a(href='/v1/web/users/create', title='Зарегистрироваться').mb-1 Зарегистрироваться
        p.mt-5.mb-3.text-muted © 2018-2019 |
            a(href='/v1/web/about', title='О проекте') О проекте

block javascript
    script(src='/javascripts/home.js')
